.header {
    margin-top: 28px;
    width: 100%;
    max-width: 880px;
    min-height: 56px;
    border-bottom: 1px solid rgba(84, 84, 84, 1);
}

@media (min-width:1280px) {
    .header {
        margin-top: 45px;
        min-height: 74px;
    }
}